@model List<KrediBilgileri>

<style>
    .navbar {
        display: none;
    }

    .table-container {
        margin: 15px;
    }

    .table {
        max-width: 100%;
        border-collapse: collapse;
    }

    .table th, .table td {
        border-bottom: 1px solid #ddd;
        padding: 2px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table td a {
        color: #000;
        transition: color 0.3s;
        text-decoration: none;
    }

    .table td a:hover {
        color: #007BFF;
    }

    h3 {
        text-align: center;
        margin-top: 0;
        color: black;
    }
</style>
<body>
    <div class="table-container">
        <h3>Kredi Geri Ödeme Planınız</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Taksit Tarihi</th>
                    <th>Gün Aralığı</th>
                    <th>Taksit Tutarı</th>
                    <th>Anapara Tutarı</th>
                    <th>Faiz Tutarı</th>
                    <th>BSMV Tutarı</th>
                    <th>Kalan Anapara</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kredi in Model.OrderBy(k => k.taksitTarihi))
                {
                    <tr>
                        <td>@kredi.taksitTarihi.ToString("d")</td>
                        <td>@kredi.gunAraligi.ToString()</td>
                        <td>@string.Format("{0:#,##0.00} TL", kredi.taksitTutari)</td>
                        <td>@string.Format("{0:#,##0.00} TL", kredi.anaparaTutari)</td>
                        <td>@string.Format("{0:#,##0.00} TL", kredi.faizTutari)</td>
                        <td>@string.Format("{0:#,##0.00} TL", kredi.vergiTutari)</td>
                        <td>@string.Format("{0:#,##0.00} TL", kredi.kalanAnapara)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>